.contact-us {
  margin-left: 20px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;

    margin: 0;
    margin-bottom: 10px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    width: 280px;
    margin: 0;
    margin-bottom: 5px;
  }

  &__img {
    display: none;
  }
}
